@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        font-family: 'Josefin Sans', sans-serif;
        background-color: rgb(17 94 89);
        color: #FFFFFF;
        /* full screen */
        width: 100vw;
        height: 100%;
        min-height: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    div, footer, header, main, nav, section {
        border: 1px solid black;
    }
}

@layer components {
    .btn-primary {
        color: black;
        background-color: rgb(20 184 166);
    }
}